<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devoir_sanae_attak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Devoirsanaeattak">
        <activity
            android:name=".NeufActivity"
            android:exported="false" />
        <activity
            android:name=".HuitActivity"
            android:exported="false" />
        <activity
            android:name=".SeptActivity"
            android:exported="false" />
        <activity
            android:name=".SixActivity"
            android:exported="false" />
        <activity
            android:name=".CinqActivity"
            android:exported="false" />
        <activity
            android:name=".QuatreActivity"
            android:exported="false" />
        <activity
            android:name=".TroisActivity"
            android:exported="false" />
        <activity
            android:name=".DeuxActivity"
            android:exported="false" />
        <activity
            android:name=".UnActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>